@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/src/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/src/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* custom fonts */
  --font-dmsans: "DM Sans", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  /* Neutral colors */
  --color-neutral-900: #02012c;
  --color-neutral-800: #262540;
  --color-neutral-700: #302f4a;
  --color-neutral-600: #3c3b5e;
  --color-neutral-300: #acacb7;
  --color-neutral-200: #d4d3d9;
  --color-neutral-0: #ffffff;

  /* Orange */
  --color-orange-500: #ff820a;

  /* Blue */
  --color-blue-500: #4658d9;
  --color-blue-700: #2b1b9c;
}
